{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VolunteerHub</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}?v=20">
    
</head>
<body>

<!-- NAVBAR -->
<header class="navbar">
    <div class="logo">
         <span>SRIT VolunteerHub</span>
    </div>
    
</header>

<!-- HERO SECTION -->
<section class="hero">
    <span class="badge">✨ AI-Powered Volunteer Management</span>

    <h1>
        Connect. Serve. <br>
        <span class="highlight">Transform.</span>
    </h1>

    <p class="subtitle">
        An intelligent platform that connects volunteers with organizations,
        ensuring fair opportunities and efficient service management
        for your community.
    </p>

    <div class="hero-buttons">
        <a href="/register/" class="btn-primary">Start Volunteering →</a>
        <a href="/login/" class="btn-secondary">Sign In to Dashboard</a>
    </div>
</section>


</section>

</body>
</html>
